body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px;
  background: #22c55e;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

textarea {
  height: 150px;
}
